/* This is the body of the gallery page*/
body {
	height: 100%;
	width: 100%;
	background-color: cyan;
	font-family: 'Seaweed Script', cursive;
}

a {
	font-family: 'East Sea Dokdo', sans-serif;
}

h1, h2 {
	font-family: 'East Sea Dokdo', sans-serif;
}

/* This is the decription of what each image is */

.desc {
	text-align: center;
}

/*This will center the images*/

.lobster, .octopus, .seahorse, .clownfish, .angelfish {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}