/* This is the body of the game page*/
body {
	height: 100%;
	width: 100%;
	background-color: cyan;
	font-family: 'Seaweed Script', cursive;
}

a {
	font-family: 'East Sea Dokdo', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'East Sea Dokdo', sans-serif;
}

p {
	text-align: center;
}