/* This is the body of the game page*/
body {
	height: 100%;
	width: 100%;
	background-color: cyan;
	font-family: 'Seaweed Script', cursive;
}

a {
	font-family: 'East Sea Dokdo', sans-serif;
}

h1, h2 {
	font-family: 'East Sea Dokdo', sans-serif;
}

p {
	text-align: center;
}

#quiz {
	display: none;
}