body {
	height: 100%;
	width: 100%;
}

.table th {
	text-align: center;
}

table, tr, th, td {
	border: 1px solid black;
}

@media screen and (max-width: 250px) {
}

@media screen and (max-width: 500px) {
	
}

@media screen and (max-width: 750px) {
	
}